**/.DS_Store

!**/src/main/**
!**/src/test/**
/target/
/lib/
/src/main/resources/linux-x86-64/
/src/main/resources/linux-arm/
/src/main/resources/darwin-x86-64/
/src/main/resources/windows-x86-64/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/nbactions.xml
**/nb-configuration.xml

### VS Code ###
**/.vscode/
